# SPDX-License-Identifier: MIT
#
# Copyright (c) 2025 Dylan Hong
#
# This file is released under the MIT License.
# For conditions of distribution and use, see the LICENSE file.

build/**
downloads/*
report/*/cppcheck-build/*
benchmark/*
!benchmark/
!benchmark/README.md
!benchmark/resize/
benchmark/resize/*
!benchmark/resize/README.md
!benchmark/resize/[1-4]ch/
benchmark/resize/[1-4]ch/*
!benchmark/resize/[1-4]ch/README.md
!benchmark/resize/[1-4]ch/*.svg
